/* Scrollbar Stylings */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track { 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128); 
}

/* Apply row margin automatically */
.row:not(:last-child) {
  margin-bottom: 1rem;
}

/* Sidebar height */
.sidebar-container {
  position: relative;
}
#sidebar.sidebar {
  height: calc(100vh - 88px); /* 56px Navbar Height */
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  margin-left: 15px;
}
.content-container .content {
  height: calc(100vh - 88px); /* 56px Navbar Height */
  overflow-y: auto;
  overflow-x: hidden;
  align-content: flex-start;
}
/* Enable dotted text */
.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.pointer {
  cursor: pointer;
}